<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Samopis{% endblock %}</title>

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="./static/bootstrap.css">
    <link rel="stylesheet" href="./static/styleNotification.css">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/style1.css">
    <link rel="stylesheet" href="./static/style3.css">
    <link rel="stylesheet" href="./static/loginlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&amp;family=Quicksand:wght@300&amp;display=swap'>

    <!-- Custom Styles -->
    <style>
        body {
            background: #E3E0D1;
            background-size: 100%;
            display: flex;
            flex-direction: column;
            flex-direction: row;
            align-items: center;
            font-family: 'Barlow', sans-serif;
        }
    </style>
</head>

<body>
    <ul class="nav-links" id="navbar">
        <a href="/login" style="max-width: 7.2em; margin-right: auto;">
            <img src="./static/logo.png" width="90%" height="20%" style="margin-left: 1vw;" href="/login">
        </a>

        <div class="alert-container">
            <a>
                <!-- Alerts -->
                <div class="col-sm-12">
                    <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" style="display: none;">
                        <i class="start-icon far fa-check-circle faa-tada animated"></i>
                        <strong class="font__weight-semibold">Dobra robota!</strong> Wszystko poszło zgodnie z planem.
                    </div>
                </div>

                <!-- Repeat similar structure for other alerts -->

            </a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert-container">
            <div class="alert fade alert-simple alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Authentication Links -->
        <div class="auth-links">
            <a href="/download_files" style="max-width: 25px;">
                <img src="./static/firmowy.png" width="100%" height="100%" style="margin-left: -15px;">
            </a>
            {% if user.is_authenticated %}
            <a href="/wzory" style="max-width: 25px;">
                <img src="./static/wzory.png" width="100%" height="100%" style="margin-right: 2vw;">
            </a>
            <li2 class="upward" style="font-size: 12px; margin-left: 15px; color: whitesmoke;"> zalogowano jako: {{ current_user.first_name}}</li>
            <li class="center"> <a href="/logout" id="logout">Wyloguj</a></li>
            {% else %}
            <li class="forward"> <a href="/login">Zaloguj</a></li>
            <li class="forward"> <a href="/sign-up">Zarejestruj</a></li>
            {% endif %}
        </div>
    </ul>

    <!-- Footer -->
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Regulamin</a></li>
                <li class="list-inline-item"><a href="#">Polityka Prywatności</a></li>
                <li class="list-inline-item"><a href="#">Sprawdź Nas</a></li>
            </ul>
            <p class="copyright">Samopis © 2023</p>
        </footer>
    </div>

    <!-- Content and JavaScript Blocks -->
    {% block content %} {% endblock %}
    {% block javascript %} {% endblock %}
</body>

</html>
