{% extends "basebase.html" %}

{% block title %}Samopis Rozpocznij{% endblock %}

{% block content %}

  <body>
    <div id="applanding">
      <div class="app-view">

   
        <header class="app-landing" style = "margin-top: 4%;">
          <h1 id="typing-text1" class="landing-font-size"></h1>
          
          <h1 id="typing-text2" class="landing-font-size">
     
        

              </h1>
          <h1 id="typing-text3" class="landing-font-size"></h1>
          <h1 id="typing-text4" class="landing-font-size"></h1>
          <h1 id="typing-text5" class="landing-font-size"></h1>
          <h1 id="typing-text6" class="landing-font-size"></h1>
          <br>
          <h1 id="typing-text7" class="landing-font-size"></h1>
          <h1 id="typing-text8" class="landing-font-size"></h1>
        </header>
      </div>
    </div>



    
    <div id="app2landing">
      <div class="logolanding">
        <img src="./static/landinglogo.png" style="width: calc(2vw * 16); margin-top: 25%;"> 
      </div>
      <a href="/" style="display: inline-block; margin-top: 10vh; text-decoration: none;">
    <button>Wejdź</button>
  </a>
    
  </div>


  
<script>
  // Initial check on page load
  if (window.innerWidth <= 900) {

    var imgElement = document.querySelector('.logolanding img');

    document.getElementById('app2landing').style.width = '100vw';
        
    document.getElementById('applanding').style.display = 'none';

    imgElement.style.width = 'calc(4vw * 16)';


      
    
  }



  // Add an event listener for resize
  window.addEventListener('resize', function () {
      var applanding = document.getElementById('applanding');
      var app2landing = document.getElementById('app2landing');
      var imgElement = document.querySelector('.logolanding img');

      if (window.innerWidth <= 900) {
          applanding.style.display = 'none';
          app2landing.style.width = '100vw';
          imgElement.style.width = 'calc(4vw * 16)';

    
          
      } else {
          applanding.style.display = 'block';
          
          app2landing.style.width = '40vw';
          imgElement.style.width = 'calc(2vw * 16)';
      } 
  });
</script>


  </body>

  
  <script>
    const texts = [
        "Generuj umowę:",
        "- Najmu,",
        "- Najmu okazjonalnego,",
        "- Sprzedaży,",
        "- Przedwstępną Sprzedaży",
        "- Darowizny.",
        "Wystarczy, że wpiszesz numer",
        "Księgi Wieczystej.",
    ];

    let typingSpeed = 30; // Adjust typing speed (in milliseconds)

    function typeText(index) {
        return function () {
            const text = texts[index];
            const elementId = `typing-text${index + 1}`;
            const element = document.getElementById(elementId);

            let charIndex = 0;

            function typeChar() {
                if (charIndex < text.length) {
                    element.innerHTML += text.charAt(charIndex);
                    charIndex++;
                    setTimeout(typeChar, typingSpeed);
                }
            }

            typeChar();

            // Start typing the next text after the current one finishes
            if (index < texts.length - 1) {
                const nextIndex = index + 1;
                const nextText = texts[nextIndex];
                const nextDelay = (text.length + 4) * typingSpeed; // Add extra delay for punctuation or space
                setTimeout(typeText(nextIndex), nextDelay);
            }
        };
    }

    // Start typing the first text
    setTimeout(typeText(0), 0);
</script>

    

</html>

{% endblock %}
