         
         .btn-grad {
            background-image: linear-gradient(to right, #00b4db, #0083b0);
            margin-top: 5px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            
             font-family: 'Barlow', sans-serif;
            
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #c2c2c2;
            text-decoration: none;
            scale: 1.1;
          }

          .btn-grad1 {
            background-color: rgb(4, 92, 90);
            margin-top: 5px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            font-weight: bold;
            
             font-family: 'Barlow', sans-serif;
             display: inline-block;
             font-size: 90%;
             
             text-transform: uppercase;
             
             
             margin: 3vh 0;
          }


          .svg-container {
            position: fixed; /* Keeps the container in a fixed position */
            top: 50%; /* Vertically centered */
            left: 50%; /* Horizontally centered */
            transform: translate(-50%, -90%); /* Center the container */
        }
         